<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BookBreaker</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <script src="https://code.jquery.com/jquery-1.12.2.min.js" integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="bookBreaker.js"></script>

</head>
<body ng-app="bookBreaker">
  <div class="container" ng-controller="breakController">
    <div class="row">
      <h1>BookBreaker</h1>
      <form class="form-group" ng-submit='breakBook()'>
        <label for="name">Book Name</label>
        <input class="form-control" type='text' id='name' name="bookname" placeholder="Enter your book name..."  ng-model="book.name">
        <label for="pages">Total Page Count</label>
        <input class="form-control" type='number' id='pages' name="pages" placeholder="Enter number of pages" ng-model="book.pages">
        <label for="date">Due Date</label>
        <input class="form-control" type='date' id='date' name="date" ng-model="book.dueDate">
        <br>
        <button class="btn btn-default">Break my Book!</button>
      </form>
    </div>
    <div class="row">
      <div class="col-md-12">{{book}}</div>
    </div>
  </div>
</body>
</html>