<div class="container-fluid" ng-controller="breakController">
  <div class="row">
    <div class="col-md-12 header"></div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h1>BookBreaker</h1>
      <form class="form-group" ng-submit='breakBook()'>
        <label for="name">Book Name</label>
        <input class="form-control" type='text' id='name' name="bookname" placeholder="Enter your book name..."  ng-model="book.name">
        <label for="pages">Total Page Count</label>
        <input class="form-control" type='number' id='pages' name="pages" placeholder="Enter number of pages" ng-model="book.pages">
        <label for="date">Due Date</label>
        <input class="form-control" type='date' id='date' name="date" ng-model="book.dueDate">
        <br>
        <button class="btn btn-default">Break my Book!</button>
      </form>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <h2>{{book.name||"Fill out the form to generate a new reading plan!"}}</h2>
          <h3 ng-if="book.pages">{{book.pages + " Total Pages Left"}}</h3>
          <h4>{{book.formatDueDate}}</h4>
        </div>
      </div>
      <div class="row" ng-repeat="item in data" ng-click="completeTask(item)">
        <div ng-style="item.myStyle" class="col-md-2 col-sm-2"><img class="book"src="img/book_PNG2116.png"/></div>
        <div ng-style="item.myStyle" class="col-md-5 col-sm-5">{{"Read Pages: " + item.range}}</div>
        <div ng-style="item.myStyle" class="col-md-5 col-sm-5">{{"Due on: " + item.date}}</div>
      </div>
    </div>
  </div>
</div>